 @import url('https://fonts.googleapis.com/css?family=Raleway|Lobster');
body{
	background: url(../../img/cat01.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	font-family: 'Raleway'
}
html{
	height: 100%;
}
#content{
	text-align: center;
	padding-top: 25%;
	color: white;
	text-shadow: 0px 4px 3px rgb(0,0,0.4) ,
				0px	8px	13px rgb(0,0,0.1),
				0px 18px 23px rgb(0,0,0.1); 
}
h1, h3{
	font-size: 3.5em;
	font-family: 'Lobster';
}
hr{
	width: 35%;
	border: 1px solid white;
}